<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/activities.css">
    <title>Activities</title>
</head>
<body class="body">
    <header class="navigation-header">
        <div class="logo-container">
            <img src="../images/logo.png" alt="Logo with TI inside">
        </div>

        <div class="navigation-items">
            <a href="../index.html">
                <button class="header_button">Home</button>
            </a>

            <a href="lodging.html">
                <button class="header_button">Lodging</button>
            </a>

            <a href="transportation.html">
                <button class="header_button">Transportation</button>
            </a>

            <a href="dining.html">
                <button class="header_button">Dining</button>
            </a>

            <a href="activities.html">
                <button class="header_button">Activities</button>
            </a>

            <a href="faq.html">
                <button class="header_button">FAQ</button>
            </a>
        </div>
    </header>

    <hr>

    <h1 class="h1">Information About Activities</h1>

    <div class="left">
        <img src="../images/volcano.png" alt="A volcano with trees surrounding it and blue sky" class="image">
        <span class="span">
            Most people visit Taniti to enjoy the beaches, explore the rainforest, and visit the volcano. However, there
            are other things to do, including visiting a local history museum, going on chartered fishing tours,
            snorkeling, zip-lining in the rainforest, visiting several pubs, including a microbrewery, dancing at a new
            dance club, seeing a movie, taking helicopter rides, playing at an arcade, visiting art galleries, and
            bowling. Also, a nine-hole golf course should be operational by next year.
            Many of these activities are in Merriton Landing, a rapidly developing area on the north side of
            Yellow Leaf Bay.
        </span>
    </div>

    <div class="right">
        <span class="span">
            Most tourists spend most of their time in Taniti City, which boasts native architecture and nearby white,
            sandy beaches that encircle Yellow Leaf Bay. Most tourists spend most of their time in Taniti City,
            which boasts native architecture and nearby white, sandy beaches that encircle Yellow Leaf Bay.
        </span>
        <img src="../images/sight_seeing.png" alt="A person standing next to a car" class="image">
    </div>
    
    <div class="left">
        <img src="../images/activity%20icon.png" alt="A silhouette of person walking with a backpack"
             class="image-hiking">
        <span class="span">
            Other popular activities include:
            <ul>
                <li>Boat or bus tours of the island.</li>
                <li>Hikes in the rainforest.</li>
                <li>Visits to Taniti’s active volcano.</li>
            </ul>
        </span>
        
    </div>

    <hr>
    
    <footer class="footer">
        <div>
            <p>&copy; 2024 Taniti Island Tourism</p>
            <a href="site-map.html">Site Map</a> |
            <a href="privacy-policy.html">Privacy Policy</a> |
            <a href="contact.html">Contact</a> |
            <a href="term-service.html">Terms of Service</a>
            <p>Images Provided By https://www.gettyimages.com/</p>
        </div>
    </footer>

</body>
</html>