    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../styles/layout.css">
        <link rel="stylesheet" href="../styles/dining.css">
        <script src="../components/header.js" type="text/javascript" defer></script>
        <script src="../components/footer.js" type="text/javascript" defer></script>
        <title>Information for Dining</title>
    </head>

    <body class="body">

        <header-component></header-component>
        <hr>

        <h1 class="h1">Information About Dining</h1>

        <div class="left">
                <img src="../images/grocery%20store.png" alt="a store aisle with shelves with food">
            <span class="span">
                Taniti has two supermarkets, two smaller grocery stores, and one convenience store that is open 24
                hours a day
            </span>
        </div>
        
        <div class="right">
            <span class="span">
                Taniti currently has ten restaurants: five serve mostly local fish and rice, three serve American-style
                meals, and two serve Pan-Asian cuisine
            </span>
            <img src="../images/restaurant.png" alt="A room with tables and chairs">
        </div>

        <hr>
        <footer-component></footer-component>
    </body>
</html>