<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/faq.css">
    <title>FAQs</title>
</head>
<body class="body">
    <header class="navigation-header">
        <div class="logo-container">
            <img src="../images/logo.png" alt="Logo with TI inside">
        </div>

        <div class="navigation-items">
            <a href="../index.html">
                <button class="header_button">Home</button>
            </a>

            <a href="lodging.html">
                <button class="header_button">Lodging</button>
            </a>

            <a href="transportation.html">
                <button class="header_button">Transportation</button>
            </a>

            <a href="dining.html">
                <button class="header_button">Dining</button>
            </a>

            <a href="activities.html">
                <button class="header_button">Activities</button>
            </a>

            <a href="faq.html">
                <button class="header_button">FAQ</button>
            </a>
        </div>
    </header>

    <hr>

    <h1>Frequently Requested Information</h1>

    <ul>
        <li>Power outlets are 120 volts (the same as in the United States).</li>
        <li>Alcohol cannot be served or sold between midnight and 9:00 a.m.</li>
        <li>The drinking age on Taniti is 18, and the drinking age is not strictly enforced.</li>
        <li>Many younger Tanitians speak fluent English. Very little English is spoken in rural areas, especially by
            the older residents.</li>
        <li>There is one hospital and several clinics. The hospital has many multilingual employees.</li>
        <li>Violent crime is rare in Taniti, but as tourism increases, there are more reports of pickpocketing and
            other petty crimes.</li>
        <li>Taniti enjoys many national holidays, and many tourist attractions and restaurants will be closed on
            holidays, so visitors should plan accordingly.</li>
        <li>Taniti uses the U.S. dollar as its currency, but many businesses will also accept euros and yen.
            Several banks facilitate currency exchange, and many businesses accept major credit cards.</li>
    </ul>

    <hr>

    <footer class="footer">
        <div>
            <p>&copy; 2024 Taniti Island Tourism</p>
            <a href="site-map.html">Site Map</a> |
            <a href="privacy-policy.html">Privacy Policy</a> |
            <a href="contact.html">Contact</a> |
            <a href="term-service.html">Terms of Service</a>
            <p>Images Provided By https://www.gettyimages.com/</p>
        </div>
    </footer>
</body>
</html>