<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/lodging.css">
    <title>Lodging</title>
</head>
<body class="body">
    <header class="navigation-header">
        <div class="logo-container">
            <img src="../images/logo.png" alt="Logo with TI inside">
        </div>

        <div class="navigation-items">
            <a href="../index.html">
                <button class="header_button">Home</button>
            </a>

            <a href="lodging.html">
                <button class="header_button">Lodging</button>
            </a>

            <a href="transportation.html">
                <button class="header_button">Transportation</button>
            </a>

            <a href="dining.html">
                <button class="header_button">Dining</button>
            </a>

            <a href="activities.html">
                <button class="header_button">Activities</button>
            </a>

            <a href="faq.html">
                <button class="header_button">FAQ</button>
            </a>
        </div>
    </header>

    <hr>

    <h1 class="h1">Information About Lodging</h1>

    <div class="image-container">
        <img src="../images/lodging.png" alt="A pool with palm trees and a building">
    </div>
    <div>
        <p>
            Taniti has a wide variety of lodging that ranges from an inexpensive hostel to one large, four-star resort.
            There are many small, family-owned hotels and a growing number of bed and breakfasts. All types of lodging
            are strictly regulated and regularly inspected by the Tanitian government.
        </p>
    </div>

    <hr>
    <footer class="footer">
        <p>&copy; 2024 Taniti Island Tourism</p>
        <a href="site-map.html">Site Map</a> |
        <a href="privacy-policy.html">Privacy Policy</a> |
        <a href="contact.html">Contact</a> |
        <a href="term-service.html">Terms of Service</a>
        <p>Images Provided By https://www.gettyimages.com/</p>
    </footer>
</body>

</html>