<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/lodging.css">
    <script src="../components/header.js" type="text/javascript" defer></script>
    <script src="../components/footer.js" type="text/javascript" defer></script>
    <title>Lodging</title>
</head>
<body class="body">
    <header-component></header-component>
    <hr>

    <h1 class="h1">Information About Lodging</h1>

    <div class="image-container">
        <img src="../images/lodging.png" alt="A pool with palm trees and a building">
    </div>
    <div>
        <p>
            Taniti has a wide variety of lodging that ranges from an inexpensive hostel to one large, four-star resort.
            There are many small, family-owned hotels and a growing number of bed and breakfasts. All types of lodging
            are strictly regulated and regularly inspected by the Tanitian government.
        </p>
    </div>

    <hr>
    <footer-component></footer-component>
</body>

</html>